daxclient/src/main/resources/TsWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.ws.timesheet.qualysoft.com:200/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://service.ws.timesheet.qualysoft.com:200/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.ws.timesheet.qualysoft.com:200/">
      <s:element name="getNotFilledDays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="ddatum1" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="ddatum2" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNotFilledDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNotFilledDaysResult" type="tns:ArrayOfDateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDateTime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="dateTime" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:element name="getProjectsWithActivitiesByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="ddatum" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProjectsWithActivitiesByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProjectsWithActivitiesByUserResult" type="tns:ArrayOfProjectListVO"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProjectListVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="projectListVO" type="tns:projectListVO"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="projectListVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="activitiesField" type="tns:ArrayOfActivityListVO"/>
          <s:element minOccurs="0" maxOccurs="1" name="idField" type="s:long"/>
          <s:element minOccurs="1" maxOccurs="1" name="idFieldSpecified" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="nameField" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="projectEndField" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="projectEndFieldSpecified" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="projectStartField" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="projectStartFieldSpecified" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfActivityListVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="activityListVO" type="tns:activityListVO"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="activityListVO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="idField" type="s:long"/>
          <s:element minOccurs="1" maxOccurs="1" name="idFieldSpecified" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="nameField" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="updateWorkTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="projRecId" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="actRecId" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="tsTimesheetTransId" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="time1" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="time2" type="s:dateTime"/>
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="pausetime1" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="pausetime2" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateWorkTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateWorkTimeResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createWorkTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="projRecId" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="actRecId" type="s:long"/>
            <s:element minOccurs="1" maxOccurs="1" name="time1" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="time2" type="s:dateTime"/>
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="pausetime1" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="pausetime2" type="s:dateTime"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createWorkTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createWorkTimeResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getNotFilledDaysSoapIn">
    <wsdl:part name="parameters" element="tns:getNotFilledDays"/>
  </wsdl:message>
  <wsdl:message name="getNotFilledDaysSoapOut">
    <wsdl:part name="parameters" element="tns:getNotFilledDaysResponse"/>
  </wsdl:message>
  <wsdl:message name="getProjectsWithActivitiesByUserSoapIn">
    <wsdl:part name="parameters" element="tns:getProjectsWithActivitiesByUser"/>
  </wsdl:message>
  <wsdl:message name="getProjectsWithActivitiesByUserSoapOut">
    <wsdl:part name="parameters" element="tns:getProjectsWithActivitiesByUserResponse"/>
  </wsdl:message>
  <wsdl:message name="updateWorkTimeSoapIn">
    <wsdl:part name="parameters" element="tns:updateWorkTime"/>
  </wsdl:message>
  <wsdl:message name="updateWorkTimeSoapOut">
    <wsdl:part name="parameters" element="tns:updateWorkTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="createWorkTimeSoapIn">
    <wsdl:part name="parameters" element="tns:createWorkTime"/>
  </wsdl:message>
  <wsdl:message name="createWorkTimeSoapOut">
    <wsdl:part name="parameters" element="tns:createWorkTimeResponse"/>
  </wsdl:message>
  <wsdl:portType name="TSWebServiceSoap">
    <wsdl:operation name="getNotFilledDays">
      <wsdl:input message="tns:getNotFilledDaysSoapIn"/>
      <wsdl:output message="tns:getNotFilledDaysSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getProjectsWithActivitiesByUser">
      <wsdl:input message="tns:getProjectsWithActivitiesByUserSoapIn"/>
      <wsdl:output message="tns:getProjectsWithActivitiesByUserSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="updateWorkTime">
      <wsdl:input message="tns:updateWorkTimeSoapIn"/>
      <wsdl:output message="tns:updateWorkTimeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="createWorkTime">
      <wsdl:input message="tns:createWorkTimeSoapIn"/>
      <wsdl:output message="tns:createWorkTimeSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TSWebServiceSoap" type="tns:TSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNotFilledDays">
      <soap:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/getNotFilledDays" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsWithActivitiesByUser">
      <soap:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/getProjectsWithActivitiesByUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWorkTime">
      <soap:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/updateWorkTime" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWorkTime">
      <soap:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/createWorkTime" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TSWebServiceSoap12" type="tns:TSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNotFilledDays">
      <soap12:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/getNotFilledDays" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsWithActivitiesByUser">
      <soap12:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/getProjectsWithActivitiesByUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWorkTime">
      <soap12:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/updateWorkTime" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWorkTime">
      <soap12:operation soapAction="http://service.ws.timesheet.qualysoft.com:200/createWorkTime" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TSWebService">
    <wsdl:port name="TSWebServiceSoap" binding="tns:TSWebServiceSoap">
      <soap:address location="http://tswebservice.qualysoft.com:200/TsWebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="TSWebServiceSoap12" binding="tns:TSWebServiceSoap12">
      <soap12:address location="http://tswebservice.qualysoft.com:200/TsWebService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>